home/.vim/bundle/*
home/.vim/plugged/*
home/.vim/sessions/*
home/.vimwiki
!home/.vim/autoload/plug.vim
home/.tmux/plugins
**/*.swp
**/*.bak
**/*.netrwhist
home/.tmux/plugins

secrets*
.secrets*
!.secrets.example*
!secrets.example*

home/.config/coc/*
!home/.config/coc/ultisnips

tags
