[user]
	name = Jaye Heffernan
	email = jpeheffernan@gmail.com
[push]
	default = simple
[alias]
	co = checkout
	tco = checkout
	b = branch
	tb = branch
	s = status
	ts = status
	tl = log --oneline
	a = add
	ta = add
	d = diff -w
	td = diff -w
	c = commit
	ca = commit --amend
	cane = commit --amend --no-edit
	cnv = commit --no-verify
	canv = commit --amend --no-verify
	canenv = commit --amend --no-edit --no-verify
	g = log --graph --oneline --decorate
	ga = log --graph --oneline --decorate --all
	l = log --oneline
	ll = log --graph --format='%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)'
	recent = for-each-ref --sort=-committerdate refs/heads/ --count 12
	r = recent
	pu = push
	punv = push --no-verify
	ri = rebase --interactive
[core]
	editor = /usr/local/bin/vim
	excludesfile = /Users/jaye.heffernan/.gitignore_global
