[user]
	name = Jaye Heffernan
	email = jpeheffernan@gmail.com
[push]
	default = simple
[alias]
	co = checkout
	b = branch
	s = status
	l = log --oneline --abbrev-commit
	a = add
	g = log --graph --oneline --decorate --abbrev-commit
	ga = log --graph --oneline --decorate --all --abbrev-commit
	d = diff -w
[core]
	editor = /usr/bin/vim
