snippet @p "jsdoc style param"
@param {${2:type}} ${1:name} ${3:description}
endsnippet

snippet @r "jsdoc style return"
@return {${1:type}} ${2:description}
endsnippet

snippet r "require" b
const $1 = require('${1:module}');
endsnippet
