snippet /** "jsdoc style comment" b
/**
 * $0
 */
endsnippet

snippet @p "jsdoc style param"
@param {${2:type}} ${1:name} ${3:description}
endsnippet

snippet @r "jsdoc style return"
@return {${1:type}} ${2:description}
endsnippet

# Function
snippet fun
function ${1:function_name}(${2}) {
	${0}
}
endsnippet

# Anonymous Function
snippet f "" w
function(${1}) {
	${0}
}${2:.bindenv(this)}
endsnippet

snippet if
if (${1:true}) {
	${0}
}
endsnippet

# Else if
snippet elif
else if (${1:true}) {
	${0}
}
endsnippet

# Else
snippet e
else {
	${0}
}
endsnippet

# if ... else
snippet ife
if (${1:true}) {
	${2}
} else {
	${0}
}
endsnippet

# tertiary conditional
snippet ter
${1:/* condition */} ? ${2:/* if true */} : ${0:/* if false */}
endsnippet

# switch
snippet switch
switch (${1:expression}) {
	case '${3:case}':
		${4}
		break;
	${0}
	default:
		${2}
}
endsnippet

# case
snippet case
case '${1:case}':
	${2}
	break;
${0}
endsnippet

# try
snippet try
try {
	${1}
} catch (${2:e}) {
	${0:/* handle error */}
}
endsnippet

snippet sl "server.log" b
server.log($0);
endsnippet

snippet se "server.error" b
server.error($0);
endsnippet

snippet sls "server.log" b
server.log("$0");
endsnippet

snippet slm "server.log memory" b
server.log("$0" + imp.getmemoryfree());
endsnippet

snippet slf "server.log format" b
server.log(format("$1"$0));
endsnippet

snippet sld "server.log debug" b
server.log("debug `!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]` $1: :::" + (${1}) + "::: is a " + typeof ($1));
endsnippet

snippet slds "server.log debug string" b
server.log("debug `!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]` ${1}");
endsnippet

snippet slde "server.log debug empty" b
server.log("debug `!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]`");
endsnippet

snippet sed "server.log debug" b
server.error("debug `!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]` $1: :::" + ${1} + "::: is a " + typeof $1);
endsnippet
snippet br "breadcrumb" b
_breadcrumbs.push("`!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]`"); _breadcrumbs.remove(0);
endsnippet
snippet slms "server.log memory short" b
server.log(format("MEM %7d (%4dk) (`!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]`)    $0", imp.getmemoryfree(), imp.getmemoryfree()/1000));
endsnippet
snippet slm "server.log memory detailed" b
::__memnote <- "$0"; ::__mem <- imp.getmemoryfree(); ::__memd <- "__memp" in ::getroottable() ? (::__mem - ::__memp) : 0; server.log(format("MEM %7d (%7s), %4dk (%7sk) (`!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]`)    %s", ::__mem, format("%+d", ::__memd), ::__mem/1000, format("%+5.2f", ::__memd/1000.0), ::__memnote)); ::__memp <- ::__mem;

snippet ll "server.log" b
server.log($0);
endsnippet
snippet le "logger.error" b
logger.error($0);
endsnippet
snippet lls "logger.log" b
logger.log("$0");
endsnippet

snippet llf "logger.log format" b
logger.log(format("$1"$0));
endsnippet

snippet lld "logger.log debug" b
logger.log("debug `!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]` $1: :::" + (${1}) + "::: is a " + typeof ($1));
endsnippet

snippet llds "logger.log debug string" b
logger.log("debug `!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]` ${1}");
endsnippet

snippet llde "logger.log debug empty" b
logger.log("debug `!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]`");
endsnippet

snippet led "logger.log debug" b
logger.error("debug `!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]` $1: :::" + ${1} + "::: is a " + typeof $1);
endsnippet
snippet llms "logger.log memory short" b
logger.log(format("MEM %7d (%4dk) (`!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]`)    $0", imp.getmemoryfree(), imp.getmemoryfree()/1000));
endsnippet
snippet llm "logger.log memory detailed" b
::__memnote <- "$0"; ::__mem <- imp.getmemoryfree(); ::__memd <- "__memp" in ::getroottable() ? (::__mem - ::__memp) : 0; logger.log(format("MEM %7d (%7s), %4dk (%7sk) (`!p import uuid; snip.rv = snip.c if snip.c else uuid.uuid4().get_hex()[:4]`)    %s", ::__mem, format("%+d", ::__memd), ::__mem/1000, format("%+5.2f", ::__memd/1000.0), ::__memnote)); ::__memp <- ::__mem;
endsnippet

snippet /** "Description" b
/**
 * ${0:description}
 */
endsnippet

snippet @a "Description"
@arg {${1:type}} ${2:name} - ${0:description}
endsnippet

snippet @r "Description"
@returns {${1:type}} ${0:description}
endsnippet

snippet @s "Description"
@summary ${0:description}
endsnippet

snippet wu "imp.wakeup" w
imp.wakeup(${1:0}, ${3:function() {
	${VISUAL}$0
}}${2:.bindenv(this)});
endsnippet

snippet	t "TIME macro" b
TIME("${0:key}");
endsnippet

snippet	ts "TIMESTART macro" b
TIMESTART("${0:key}");
endsnippet
