layout cwd="~/duck/mocks-server/main" {
    default_tab_template {
      children
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
      }
    }

    tab name="mocks" {
      pane command="npm start"
    }

    tab name="logs" {
      pane command="mitmproxy" {
          // reverse proxy to mocks-server
          args "-p" "40401" "--mode" "reverse:http://localhost:40400"
        }
      pane command="mitmproxy" {
        // reverse proxy for worker, for Ludwig to call
        args "-p" "40404" "--mode" "reverse:http://localhost:3001" "--set" "ssl_insecure=true"
      }
      pane command="mitmproxy" {
        // reverse proxy for headless, for Website SSR to call
        args "-p" "40402" "--mode" "reverse:https://headless.sleepingduck.localhost:3000" "--set" "ssl_insecure=true"
      }
      pane command="mitmproxy" {
        // explicit proxy for Admin and website
        args "-p" "40403" "--set" "ssl_insecure=true" "--set" "allow_hosts=admin.sleepingduck.localhost" "--set" "allow_hosts=localhost"
      }
    }
}
